header{

    background-color:black;
     color:wheat;
    font: size 40px;;
    padding: 40px;
}
nav{
    background-image: url(gal.gif);
    background-color:#333;
    overflow: hidden;
}
nav a {
    text-decoration: solid;
    padding: 20px;
    text-align: center;
    float: left;
    color: wheat;
}


main{
   
    text-align: center;
    color: wheat;
    background-repeat: no-repeat;
}
.title{
    background-color: black;
}
.adventure{
    background-image: url(nm.jpg);
}
.mystery{
    background-image:url(m1.jpg) ;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}
p{
    font-size: 18px;
}


iframe{
    padding: 10px;
}
a{
    padding: 20px;
    
}
footer{
    background-image: url(gal.gif);
    background-color: black;
    overflow: hidden;
}
footer a{
    padding: 20px;
    color: wheat;
    float: left;
}
